<% include ../partials/header.ejs %>
<main>
    <div class="container card" id="issueDetail">
        <% if (typeof searchResults != 'undefined') { %>
        <div class="row">
            <div class="row brown darken-3">
                <div class="col s12">
                <h1 class="center" style="margin:0.4rem 0 0.25rem 0";>
                    <!-- TODO: Change property below to ".api_detail_url" when ready -->
                    <a href="<%= searchResults.results.volume.site_detail_url %>">
                        <%= searchResults.results.volume.name %>
                    </a> #<%= searchResults.results.issue_number %>
                </h1>
                </div>
            </div>
        <div class="card-action">
            <div class="row">
                <% if (user) { %>
                <div class="col s12 m6 center">
                    <form action="/collections/<%= user.collectionId %>/<%= searchResults.results.id %>" method="post">
                        <button type="submit" name="action" class="btn waves-effect waves-light tooltipped" data-tooltip="Adds this issue to your Collection" data-position="bottom">
                            Got It!
                        </button>
                    </form>
                </div>
                <div class="col s12 m6 center">
                    <form action="/collections/<%= user.wishlistId %>/<%= searchResults.results.id %>" method="post">
                        <button class="btn waves-effect waves-light" type="submit" name="action">
                            Want It!
                        </button>
                    </form>
                </div>
                <% } else { %>
                <div class="col s12 center">
                    <p>Sign up or log in now to add this issue to your Collection!</p>
                </div>
                <% } %>    
            </div>
        </div>
            <div class="col s12 m4">
                <img src="<%= searchResults.results.image.medium_url %>" alt="" width="100%">
        Cover Date: <%= searchResults.results.cover_date %> <br>
            </div>
            <div class="col s12 m8">
                <h2><%= searchResults.results.name %></h2>
        Description: <%- searchResults.results.description %> <br>
            </div>
        </div>
        <% } else { %>
        <h2>Error: No Issue Found</h2>
        <% } %>
    </div>        
</main>
<% include ../partials/footer.ejs %>